.invoice-head td {
    padding: 0 8px;
  }
  .container {
    padding-top:30px;
  }
  .invoice-body{
    background-color:transparent;
  }
  .invoice-thank{
    margin-top: 60px;
    padding: 5px;
  }
  address{
    margin-top:15px;
  }
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
    .example-full-width
    {
        max-width: 200px;
    }
  }
  
  .example-right-align {
    text-align: right;
  }

  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    font-style: normal;
  }
  table {
    width: 100%;
    margin-right:16px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 75%;
  }
  
  td, th {
    width: 25%;
  }
  
